#entreprise-details {

    width: 100%;
    margin: 20px auto;
    @include flex($direction:column);
        
    .city {

        margin: 10px auto;
        color: $orange;
        font-size: 1.5rem;
        font-weight: 600;
        text-transform: capitalize;
    }

    #sort {

        width: 100%;
        @include flex($direction:column);

        h1 {

            font-size: 2rem;
            font-weight: 600;
            color: $orange;

            span {

                font-size: .75rem;
            }
        }

        .actions {

            width: 50%;
            @include flex($justify:space-around);
        }
    }

    #escapes {

        width: 100%;
        @include flex($direction:column);
    }
}